.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.signup-content {
  min-width: 200px;
  max-width: 350px;
  background: #343d46;
  border-radius: 10px;
  padding: 50px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-white {
  color: white;
}

.sigup-in-error {
  color: red;
  font-size: 20px;
  text-align: center;
}

.signup-form {
  margin-top: 25px;
}

.signup-form-title {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.signup-form-group {
  overflow: hidden;
  margin-bottom: 20px;
}

.signup-form-input {
  width: 100%;
  border: 0px solid #ebebeb;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #a1a1a1;
}

.signup-form-submit {
  background-color: #38a88c;
  width: 100%;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.signup-form-submit:hover {
  background-color: #0f9977;
}

.signup-form-login-link {
  font-weight: 700;
  color: #38a88c;
}

.loginhere {
  color: #acacac;
}
