.file-profile-menu {
  position: fixed;
  right: 10px;
  top: 109px;
  border-radius: 4px;
  box-shadow: 0px 4px 20px 4px #121212b0;
  height: 450px;
  width: 400px;
  max-height: 400px;
  min-width: 300px;
  background-color: #2a323a;
  transition: right 300ms ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.file-main-title {
  top: 17px;
  left: -126px;
  padding: 0px 5px;
  color: #ababab;
  font-size: 14px;
  background: #2a323a;
  position: relative;
}

.file-item-wrapper {
  width: 87%;
  height: 100%;
  padding: 25px 13px;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.file-close-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.file-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.file-helper-text {
  color: #c2c2c2;
  white-space: nowrap;
}

.file-user-name {
  color: white;
  white-space: nowrap;
}

.file-card-title {
  color: white;
  white-space: nowrap;
}

.file-assigned-user {
  color: white;
  white-space: nowrap;
}

.file-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.files-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.file-delete-button {
  background: none;
  outline: none;
  border: none;
}
.file-delete-button:hover {
  opacity: 0.5;
}

.file-download-button {
  margin-right: 8px;
}

.file-download-button {
  background: none;
  outline: none;
  border: none;
}

.file-download-button:hover {
  opacity: 0.4;
}

.upload-file-button {
  background: transparent;
  padding: 12px 24px;
  margin: 0px 5px;
  height: 40px;
  border: 1px solid #03a9f4;
  border-radius: 4px;
  color: #03a9f4;
  width: fit-content;
  width: 170px;
  cursor: pointer;
  margin-top: 5px;
}

.upload-file-button:hover {
  background-color: #03a9f4;
  color: #fff;
}

input[type="file"]::file-selector-button {
  background: transparent;
  padding: 12px 24px;
  font-size: 14px;
  margin: 0px 5px;
  height: 40px;
  border: 1px solid #03a9f4;
  border-radius: 4px;
  color: #03a9f4;
  width: fit-content;
  width: 170px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #03a9f4;
  color: #fff;
}

.file-input {
  color: rgb(211, 211, 211);
  font-size: 14px;
}
