.column-parent {
  overflow: hidden;
  height: 100%;
}

.column-holder {
  height: calc(100% - 150px);
  display: flex;
  margin: 0px 10px;
  position: relative;
  top: 120px;
}

.column-container {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
}

.new-column-button {
  background: transparent;
  border: 1px dotted;
  padding: 15px;
  color: #6b6b6b;
  height: 50px;
  min-width: 300px;
  text-overflow: ellipsis;
  border-radius: 5px;
}

.new-column-button:hover {
  background: #80808051;
}

.scroll-enabled {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  column-gap: 3px;
}

.testing {
  /*  overflow: initial;*/
}
