.column-parent {
  overflow: hidden;
  height: 100%;
}

.column-holder {
  height: 100%;
  display: flex;
  column-gap: 10px;
  margin: 0px 10px;
  overflow-x: auto;
}

.new-column-button {
  background: transparent;
  border: 1px dotted;
  padding: 15px;
  color: #6b6b6b;
  height: 50px;
  min-width: 300px;
  text-overflow: ellipsis;
  border-radius: 5px;
}

.new-column-button:hover {
  background: #80808051;
}
