.user-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-profile-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 15px;
}

.user-profile-name {
  margin-top: 3px;
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
}
