.column {
  height: 100%;
  display: flex;
  width: 310px;
  flex-direction: column;
  padding-right: 15px;
}

.card-container {
  height: 100%;
  overflow: auto;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  height: calc(100% - 140px);
}

.column-header-container {
  display: flex;
  width: 300px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.column-header-title {
  font-weight: 500;
  color: #e4745d;
  background: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  margin-left: 10px;
}

.column-header-icon-container {
  display: flex;
  flex-direction: row;
}

.column-header-trash-icon {
  font-size: 20px;
  font-weight: 800;
  color: #cecece;
  padding-right: 0;
  background: none;
}

.column-header-edit-icon {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 800;
  color: #cecece;
  padding-right: 0;
  background: none;
}

.new-card-button {
  background: transparent;
  border: none;
  padding: 15px;
  color: #6b6b6b;
  width: 100%;
  text-align: left;
}

.new-card-button:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.new-card-button:active {
  box-shadow: none;
}