.task-item-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  overflow: hidden;
}

.task-item {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}

.task-item-board {
  color: #c2c2c2;
  font-size: 12px;
}

.task-cancel-icon {
  color: red;
  cursor: pointer;
  padding-right: 10px;
}

.board-title-link {
  white-space: nowrap;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.board-title-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #03a9f4;
  ;
}

.task-item-notification {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: #03a9f4;
  position: relative;
  top: -25px;
  left: -20px;
}
