.board-item-container {
  padding: 15px;
  overflow: hidden;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-item-container:hover {
  background-color: #296dce;
}

.board-item-name:hover {
  cursor: pointer;
}

.board-item-icons-cotainer {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.edit-board-icon:hover {
  cursor: pointer;
}

.delete-board-icon:hover {
  cursor: pointer;
}
