.board-item-container {
  padding: 15px;
  max-width: 200px;
  overflow: hidden;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-item-container:hover {
  background-color: #296dce;
}

.board-item-icons-cotainer {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
