.chat-button-container {
  z-index: 50;
  position: fixed;
  bottom: 8px;
  right: 20px;
}

.chat-button {
  background: transparent;
  height: 40px;
  border: 1px solid #A0A0A0;
  border-radius: 51px;
  color: #b9b9b9;
  text-align: center;
  width: 40px;
}

.chat-button:hover {
  background-color: #2A323A;
  color: white;
}
