.activity-profile-menu {
  position: fixed;
  right: 10px;
  top: 109px;
  border-radius: 4px;
  box-shadow: 0px 4px 20px 4px #121212b0;
  width: 400px;
  height: 450px;
  max-height: 400px;
  background-color: #2a323a;
  transition: right 300ms ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.activity-main-title {
  top: 17px;
  left: -111px;
  width: 48px;
  padding: 0px 5px;
  color: #ababab;
  font-size: 14px;
  background: #2a323a;
  position: relative;
}

.activity-item-wrapper {
  width: 87%;
  padding: 25px 13px;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.activity-close-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.activity-item-holder {
  text-align: left;
  padding: 10px;
}

.activity-info-holder {
  display: flex;
  height: 18px;
  overflow: hidden;
}

.activity-helper-text {
  color: #c2c2c2;
  white-space: nowrap;
}

.activity-user-name {
  color: white;
  white-space: nowrap;
}

.activity-card-title {
  color: white;
  white-space: nowrap;
}

.activity-assigned-user {
  color: white;
  white-space: nowrap;
}
