.column-header-container {
  display: flex;
  width: 300px;
  height: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.column-header-title {
  font-weight: 500;
  color: #e4745d;
  background: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  margin-left: 10px;
}

.column-header-icon-container {
  display: flex;
  flex-direction: row;
}

.column-header-trash-icon {
  font-size: 20px;
  font-weight: 800;
  color: #cecece;
  padding-right: 0;
  background: none;
}

.column-header-edit-icon {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 800;
  color: #cecece;
  padding-right: 0;
  background: none;
}
