.manage-user-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.manage-users-holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0;
}
