.quill {
	height: 80%;
}

.ql-container {
	border: none !important;
}

.ql-toolbar {
	border: none !important;
	padding: 0px !important;
	margin-bottom: 10px !important;
}

.ql-font {
	display: none !important;
}

.ql-size {
	left: -15px;
}

.ql-align {
	width: 22px !important;
	color: white !important;
	margin-top: 2px;
}

.ql-color {
	display: none !important;
}

.ql-background {
	display: none !important;
}

.ql-clean {
	display: none !important;
}

.ql-picker-label {
	color: #727272 !important;
	padding: 0px !important;	
}

.ql-editor {
	padding: 5px 0px;
	font-family: 'Roboto';
	overflow: auto;
}

.ql-editor::-webkit-scrollbar {
  display: none;
}

.ql-editor:focus {
/*	border: 1px solid white;
	border-radius: 4px;*/
}

.ql-stroke {
	stroke: #727272 !important;
}

.ql-fill {
	fill: #727272 !important;
}