body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: #1f252a;
  overflow: hidden;
}

.primary-text-color {
  color: #6f6f6f;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee138;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6dee17a;
}